
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
  font-family: "Inter", sans-serif;
  color: white
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #FFFFFF30;
  border-radius: 64px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FFFFFF50;
  border-radius: 64px;
}